body {
	padding: 1em;
}
section {
  max-width: 350px;
  margin: 0 auto;

  @include breakpoint($bp-small){
  	max-width: 1042px;
  }
}

.intro-text {
	@extend %sans-serif;
	@extend %light;
    line-height: 1.5;
    float: left;
    width: 60%;
    padding-left: 1em;
    box-sizing: border-box;
    text-align: left;
}
.tag-line {
    float: left;
    min-height: 500px;
    border-right: solid 5px green;
    padding-right: 1em;
    margin-top: 0;
 	text-align:right;

/*  @include breakpoint($bp-small){
  	margin-top: 3.5em;
  }*/

  &.about {
  	margin-top: 1em;
  }
}

section.about {
/*	padding: 0 2%;
	width: 70%;
	float: left;
	display: inline-block;
	box-sizing: border-box;*/
}
aside {
	padding: 0 2%;
	width: 30%;
	float: left;
	display: inline-block;
	box-sizing: border-box;
	background-color: $c-gold;
}

